 
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
 
  body{
    font-family: "Cairo", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

  /*=========================== Frist__Header__section__Design ============================= */
  .frist__header{
    width: 100%;
    background: #f5f5f5;
    height: 50px;
  }

  

  .main__cotnent{
    display: flex;
     padding-top: 15px;
    justify-content: space-between;
  }

  .email__et{
    display: flex;
    gap: 40px;
   
  }

  .main__cotnent .email__et span{
    font-size: 14px;
    gap: 10px;
    position: relative;
  }

  .main__cotnent .email__et span::after{
    content: "";
    position: absolute;
    top: 0px;
    width: 1px;
    height: 25px;
    opacity: .1;
    right: -21px;
    background: #000000;;
  }
  
  .main__cotnent .email__et span i{
    padding-right: 5px;
  }

 
  .icon__set{
    display: flex;
    gap: 40px;
  }

   .lg__select .main__sub {
      display: flex;
      position: relative;
   }

   .lg__select .main__sub::after{
      content: "";
      position: absolute;
      top: 0px;
      width: 1px;
      height: 25px;
      opacity: .1;
      right: -21px;
      background: #000000;
      ;
   }

   .lg__select .main__sub img{
      margin-right: 10px;
      margin-bottom: 8px;
   }

   .lg__select .main__sub i{
      font-size: 10px;
      color: #000000;
      padding-top: 5px;
      padding-left: 10px;
   }

   .lg__select .main__sub p{
      font-size: 14px;
   }

   .icon__set .main__icon{
      display: flex;
      gap: 30px;
      position: relative;
   }

   .icon__set .main__icon::after{
      content: "";
      position: absolute;
      top: 0px;
      width: 1px;
      height: 25px;
      opacity: .1;
      right: -21px;
      background: #000000;
   }

   .icon__set .main__icon a{
     font-size: 14px;
     color: black;
   }

   .icon__set .login__stem span{
      font-size: 14px;
      color: #1c1c1c;
   }

  /*========== Sub__Div__design ============ */
  .lg__select .sub__menu{
    width: 100px;
    height: 55px;
    background: black;
    color: #fff;
    z-index: 9;
    opacity: 0;
    position: absolute;
    transition: all, .5s ease;
    top: 20px;
    visibility: hidden;
  }

  .lg__select .sub__menu ul li{
    list-style: none;
    margin-left: -20px;
  }

  .lg__select .sub__menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }

  .lg__select .main__sub:hover .sub__menu{
     opacity: 1;
     visibility: visible;
  }
  
  /*============================= Ming Header Desing ============================= */
  
  .header{
    margin-top: 20px;
    
  }

  .header.sticky{
     background: #fff;
     position: fixed;
     left:0px;
     top: -20px;
     width: 100%;
     z-index: 200;
     box-shadow: 3px 3px 3px #55555523;
     height: 60px;
     padding-top: 5px;
  }

  .header.sticky .nav .drop-down ul{
     margin-top: -60px;
  }

  .header .content{
    display: flex;
    justify-content: space-between;
  }

  .content .nav ul{
    display: flex;
    gap: 50px;
    margin-top: 10px;
    margin-right: 50px;
  }

  .content .nav ul li{
    list-style: none;
  }

  .content .nav ul li a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    transition: .5s;
  }

  .content .nav ul li a:hover,
  .content .nav ul .active{
    color:#7fad39;
  }

  .nav .love{
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  @media (max-width:413px) {
    .nav .love {
       display: none;
    }
  }
  .nav .love .icon-1{
    position: relative;
  }

  .nav .love .icon-1 i{
    font-size: 18px;
  }

  .nav .love .icon-1::before{
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #7fad39;
  }

  .nav .love .icon-1:nth-child(1) span{
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    bottom: 26px;
    left: 20px;
    color: #fff;
  }

  .nav .love .icon-1:nth-child(2) span{
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    bottom: 26px;
    left: 18px;
    color: #fff;
  }

  .nav .love .price{
    display: flex;
    gap: 2px;
    font-size: 14px;
    color: #6f6f6f;
    padding-left: 20px;
  }
  
  .nav .love .price h4{
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    padding-top: 2px;
  }

  .header .container .mobile-menu{
    display: none;
  }

  .hambargar{
     display: none;
  }

  /*===== Drowp Down Menu Deisgn ===== */
  
  .nav ul .drop-up .drop-down ul{
     display: block;
     position: absolute;
     top: 96px;
     z-index: 9;
     background: #000000;
     padding-bottom: 10px;
     padding-right: 50px;
     opacity: 0;
     visibility: hidden;
     transition: all, .5s ease;
  }

  .nav ul .drop-up:hover .drop-down ul{
    opacity: 1;
    visibility: visible;
  }

  .nav ul .drop-up .drop-down ul li{
    list-style: none;
    margin-left: -20px;
    margin-top: 10px;
  }

  .nav ul .drop-up .drop-down ul li a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
  }

  .nav ul .drop-up .drop-down ul li a:hover{
    color: #7fad39;
  }

  /*=================================== Hero Section Design ============================ */
  
 .hero{
  margin-top: 15px;
   padding-bottom: 50px;
 }

 .accordion-button span{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: flex;
    gap: 10px;
 }

 .accordion-button::after {
   flex-shrink: 0;
   width: 13px;
   height: 13px;
   margin-left: auto;
   margin-top: 2px;
   background-size: cover;
 }

 .accordion-button:not(.collapsed) {
   color: none;
   background: #7fad39;
   box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
 }
  
 .accordion-button:focus {
   z-index: 3;
   border-color: none;
   outline: none;
   box-shadow: none; 
 }
 
 .accordion-button {
   background: #7fad39;
 }
 
 .menu-content .menu-list  li{
   list-style: none;
   margin-left: -30px;
 }

 .menu-content .menu-list li a{
    text-decoration: none;
    font-size: 16px;
    color: #1c1c1c;
    line-height: 35px;
    display: block;
 }
 
 @media (max-width:991px) {
    .accordion-button span{
       color: #000000;
       padding-bottom: 10px;
    }

    .header{
      margin-top: 0px;
      padding-top: 13px;
      height: 75px;
    }
     
    .header.sticky{
      height: 75px;
      padding-top: 13px;
      margin-top: 20px;
    }
 }

 
 
 /*===Search div desing ===*/
 .search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  margin-left: 23px;
  box-shadow: 1px 1px 1px #5555552c,
      -1px -1px 1px #5555552f;
 }
 
 .search .categories h2{
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    display: flex;
    gap: 10px;
    padding-top: 10px;
 }

 .search .categories h2 i{
   font-size: 12px;
   padding-top: 3px;
 }
  
  .search .categories{
    position: relative;
  }

 .search .categories::after{
    content: "";
    position: absolute;
    top: 7px;
    width: 1px;
    height: 25px;
    opacity: .1;
    right: -30px;
    background: #000000;
 }
   
  .search .input{
    display: flex;
    margin-right: -13px;
  }

 .search .input input{
    outline: none;
    padding: 10px;
    border:none;
 }

 .search .input button{
   width: 100px;
   border: none;
   outline: none;
   background: #7fad39;
   text-transform: uppercase;
   font-weight: 700;
   color: #fff;
   margin-top: -1px;
   margin-bottom: -1px;
   height: 55px;
 }

 .call-senter{
   display: flex;
   width: 220px;
   margin-left: 10px;
 }

 .call-senter .icon {
    font-size: 18px;
    color: #7fad39;
    height: 50px;
    width: 50px;
    background: #f5f5f5;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px; ;
 }
 
 .call-senter .text-info h2{
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
 }

 .call-senter .text-info span{
    font-size: 14px;
    color: #6f6f6f;
 }

 @media (max-width:761px) {
   .search {
      margin-left: 15px;
       width: 95%;
    }
 }

 @media (max-width:512px) {
   .search .categories h2 {
     display: none;
   }

   .search .input {
     width: 100%;
   }

  .search .input input {
    width: 100%;
  }

  .search {
    margin-left: 15px;
    width: 91%;
  }

 }

 
 .hero-image{
   background-image: url(../img/hero/banner.jpg);
   height: auto;
   margin-top: 20px;
   padding-bottom: 37px;
   margin-left: 10px;
   background-size: cover;
   background-position: center;
 }


 .hero-image .fresh{
    padding: 80px 80px;
 }
  
 .hero-image .fresh h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #7fad39
 }

 .hero-image .fresh h2{
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
 }

 .hero-image .fresh p{
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
 }

 .hero-image .fresh button{
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    border: none;
 }

  @media (max-width:991px) {
    .hero-image {
      height: auto;
      padding-bottom: 50px;
    }
  }

  @media (max-width:449px) {
    .hero-image  .fresh button{
      font-size: 10px;
    }

    .hero-image .fresh h2{
       font-size: 40px;
    }
  }